.contactForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	height: 40rem;
	row-gap: 24px;
	border-radius: 20px;
	width: 50%;
	padding: 36px 36px;
	transition-duration: 300ms;

	.form-div {
		border-bottom: 1px solid black;
	}

	.projectDetails {
		position: relative;
		display: flex;
		flex-direction: column;
		border-bottom: none;
		width: 100%;
		border-bottom: 1px solid black;

		&.active {
			border: none;
		}

		label {
			font-size: 20px;
			position: absolute;
			&.active {
				font-size: 16px;
				translate: 0px -24px;
				color: black;
			}
		}

		textarea {
			width: 100%;
			height: 2rem;
			resize: none;
			padding: 10px;
			color: black;

			&:focus {
				outline: none;
			}

			&.active {
				height: 20rem;
				border: 1px solid black;
				border-radius: 20px;
			}
		}
	}
	.form-button {
		width: 25%;
		text-align: center;
		border: none;
		bottom: 0;
	}
}

.form-header {
	font-size: 24px;
	font-weight: 500;
}

.input-container {
	display: flex;
	flex-direction: column;
	row-gap: 36px;
	width: 100%;
	position: relative;

	&.close{
		row-gap: 0px;
	}
}

.form-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 36px;
	width: 100%;

	&.start{
		justify-content: start;
		column-gap: 12px;
	}
}

.form-input {
	width: 100%;
	padding-bottom: 4px;

	&:focus {
		outline: none;
	}
}

.checkbox-input {
	display: flex;
	justify-content: space-between;
	width: 100%;
	border: 1px solid black;
	height: 10px;
	width: 10px;
	column-gap: 12px;
}

.form-label {
	font-size: 20px;
	position: absolute;
	transition-duration: 300ms;

	&.active {
		font-size: 16px;
		translate: 0px -24px;
		transition-duration: 300ms;

		color: black;
	}
}
