@use "theme";

@media (min-width: theme.$breakpoint-mobile) and (max-width: 900px) {
	.homepage-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 10rem 2rem;
	}

	.about-section {
		display: flex;
		justify-content: start;
		height: fit;
	}
	.content-box {
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
		border-bottom: 0.02rem;
		padding-bottom: 2rem;
		align-items: start;

		h1 {
			width: 100%;
			font-size: 4em;
			line-height: 5rem;
			font-weight: 600;
			color: white;
			line-height: 1em;
			text-align: left;
		}
		h2 {
			font-size: 2rem;
			color: white;
			text-wrap: normal;
			text-align: start;
		}
		span {
			font-size: 2.5rem;
			text-align: left;
			font-weight: 700;
			color: theme.$background-color-dark;
		}
	}

	.service-section {
		display: flex;;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: fit-content;
		width: 100%;
		padding: 4rem 0;
	}

	.header-container {
		display: flex;
		width: 100%;
		text-align: center;

		h1 {
			width: 100%;
			text-align: start;
			font-size: 4rem;
			color: white;
			font-weight: 500;
			z-index: 20;
			line-height: 5rem;
			padding-bottom: 2rem;
		}
	}

	.service-grid {
		display: flex;
		flex-direction: column;
		row-gap: 5rem;
		align-items: center;
		height: fit-content;
		width: fit-content;
	}
}

@media (min-width: 900px) and (max-width: theme.$breakpoint-laptop) {
	.about-section {
		display: flex;
		justify-content: start;
		height: fit;
		padding: 4rem 32em 4rem 32em;
	}
	.content-box {
		display: flex;
		flex-direction: column;
		row-gap: 5rem;
		border-bottom: 0.02rem;
		border-color: #bfdbfe;
		padding-bottom: 2rem;
		justify-content: center;
		text-align: center;
		align-items: center;

		h1 {
			width: 100%;
			font-size: 7.2em;
			line-height: 5rem;
			font-weight: 700;
			color: white;
			line-height: 1em;
		}
		h2 {
			font-size: 3.6rem;
			color: white;
			text-wrap: normal;
			width: 75%;
		}
		span {
			font-size: 4rem;
			font-weight: 700;
			color: theme.$background-color-dark;
		}
	}

	.service-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100%;
		padding: 4rem 32rem;
	}

	.header-container {
		display: flex;
		width: 100%;
		text-align: center;

		h1 {
			width: 100%;
			font-size: 4rem;
			color: white;
			font-weight: 700;
			z-index: 20;
			line-height: 5rem;
			padding-bottom: 2rem;
		}
	}

	.service-grid {
		display: grid;
		grid-template-columns: [first] auto [second] auto [last];
		column-gap: 3.6rem;
		row-gap: 3.6rem;
		height: fit-content;
		width: fit-content;
	}
}
