.service-page-container {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
	align-items: center;
    row-gap: 40px;
	padding: 80px 320px;
}

.service-page-section{
	display: flex;
	flex-direction: column;
	row-gap: 80px;
}

.service-page-section-header{
	display: flex;
	justify-content: space-between;
	color: white;
	font-size: 36px;
	text-align: left;
	font-weight: 700;

	h2{
		width: 25%;
	}
	
	p{
		font-size: 24px;
		font-weight: 500;
		width: 50%;

		
	}
}