$background-color-dark: #1e3a8a;
$background-color: #3b82f6;
$background-color-light: #2563eb;

$button-color: #3b82f6;

$text-color: #3b82f6;

$primary-color-light: #3b82f6;

$primary-300: #93c5fd;
$primary-400: #60a5fa;
$primary-500: #3b82f6;
$primary-600: #2563eb;
$primary-900: #1e3a8a;


//Media Break Point Variables
$breakpoint-desktop: 1920px;
$breakpoint-laptop: 1512px;
$breakpoint-mobile: 430px;

@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-laptop){
    html{
        font-size: 67.5%;
    }
}

@media (min-width: $breakpoint-laptop){
    html{
        font-size: 62.5%;
    }
}

@media (max-width: $breakpoint-desktop){
    html{
        font-size: 57.5%;
    }
}