$background-color-dark: #1e3a8a;
$background-color: #3b82f6;
$background-color-light: #2563eb;

$button-color: #3b82f6;

$text-color: #3b82f6;

$primary-color-light: #3b82f6;

$primary-300: #93c5fd;
$primary-400: #60a5fa;
$primary-500: #3b82f6;
$primary-600: #2563eb;
$primary-900: #1e3a8a;
