@use "../../styles/theme.scss";

.homepage-container {
	background-image: url(../../assets/content/icon1.png);
	background-repeat: no-repeat;
	background-position-x: calc(100vw - 10rem);
	background-position-y: calc(100vh - 14rem);
	background-size: 16rem;
}
@media (min-width: theme.$breakpoint-tablet-portrait) {
	.homepage-container {
		background-position-x: calc(100vw - 18rem);
		background-position-y: calc(100vh - 22rem);
		background-size: 24rem;
	}
}
@media (min-width: theme.$breakpoint-tablet-landscape) {
	.homepage-container {
		background-position-x: calc(100vw - 18rem);
		background-position-y: calc(100vh - 22rem);
		background-size: 24rem;
	}
}
@media (min-width: theme.$breakpoint-laptop) {
	.homepage-container {
		background-position-x: calc(100vw - 25rem);
		background-position-y: calc(100vh - 30rem);
		background-size: 36rem;
	}
}
@media (min-width: theme.$breakpoint-desktop) {
	.homepage-container {
		background-position-x: calc(100vw - 30rem);
		background-position-y: calc(100vh - 35rem);
		background-size: 40rem;
	}
}
