@use "../../styles/theme.scss";

.homepage-container {
	background-image: url(../../assets/content/icon1.png);
	background-repeat: no-repeat;
	background-position-x: 150%;
	background-position-y: 100%;
	background-size: 60%;
}
@media (min-width: theme.$breakpoint-tablet-portrait) {
	.homepage-container {
		background-position-x: 150%;
		background-position-y: 110%;
		background-size: 60%;
	}
}
@media (min-width: theme.$breakpoint-tablet-landscape) {
	.homepage-container {
		background-position-x: 150%;
		background-position-y: 170%;
		background-size: 60%;
	}
}
@media (min-width: theme.$breakpoint-laptop) {
	.homepage-container {
		background-position-x: 130%;
		background-position-y: 150%;
		background-size: 50%;
	}
}
@media (min-width: theme.$breakpoint-desktop) {
	.homepage-container {
		background-position-x: 130%;
		background-position-y: 280%;
		background-size: 50%;
	}
}
