/* @font-face {
    font-family: 'Comfortaa';
    src: url('../src//assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
} */


@font-face {
    font-family: 'Manrope';
    src: url('../src/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf');
    
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../src/assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf');
}

.App{
    /* font-family: "Manrope", sans-serif; */
    font-family: "Comfortaa", sans-serif;
}