@font-face {
    font-family: 'Comfortaa';
    src: url('../src//assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

.App{
    font-family: "Comfortaa", sans-serif;
}