@use "../../styles/theme.scss";

.service-page-container {
	background-image: url(../../assets/content/icon3.png);
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: bottom;
	background-size: 12rem;
}
@media (min-width: theme.$breakpoint-tablet-portrait) {
	.service-page-container {
		background-position-x: left;
		background-position-y: bottom;
		background-size: 14rem;
	}
}
@media (min-width: theme.$breakpoint-tablet-landscape) {
	.service-page-container {
		background-position-x: left;
		background-position-y: bottom;
		background-size: 16rem;
	}
}
@media (min-width: theme.$breakpoint-laptop) {
	.service-page-container {
		background-position-x: left;
		background-position-y: bottom;
		background-size: 24rem;
	}
}
@media (min-width: theme.$breakpoint-desktop) {
	.service-page-container {
		background-position-x: left;
		background-position-y: bottom;
		background-size: 32rem;
	}
}
