/* @font-face {
    font-family: 'Comfortaa';
    src: url('../src//assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
} */


@font-face {
    font-family: 'Manrope';
    src: url('../src/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf');
    
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../src/assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Raleway-VariableFont_wght';
    src: url('../src/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Reddit-Sans';
    src: url('../src/assets/fonts/Reddit_Sans/RedditSans-VariableFont_wght.ttf');
}

.App{
    /* font-family: "Manrope", sans-serif; */
    font-family: "Reddit-Sans", sans-serif;
}